/* Single Product */
#product-details {
    display: flex;
    margin-top: 20px;
}
#product-details .single-product-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-details {
    width: 40%;
    padding-top: 30px;
}

#product-details .single-product-details h4 {
    padding: 40px 0 20px 0;
}

#product-details .single-product-details h2 {
    font-size: 26px;
}

#product-details .single-product-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details .single-product-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product-details .single-product-details button {
    background: #088178;
    color: #fff;
}

#product-details .single-product-details span {
    line-height: 25px;
}

@media (max-width: 477px) {
    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .single-product-image {
        width: 100%;
        margin-right: 0px;
    }

    #product-details .single-product-details {
        width: 100%;
    }
}